* {
  text-align: center;
}

body {
  margin: 0px;
  width: 100%;
  height: auto;
  background-image: linear-gradient(to bottom right, #2d9570, rgb(5, 43, 17));
}

.manuten {
  padding-top: 40px;
  margin-top: 35px;
  font-size: 70px;
  font-weight: 400;
}
.textos {
  z-index: 20;
  color: #fff;
}

.site {
  font-weight: 200;
  font-size: 45px;
}

/*.bg {
  background-color: #2d9570;
  height: 100%;
  width: 100%;
  position: absolute;
  Add the blur effect 
  z-index: -1;
} */

.rebraxLogo {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 15px;
  z-index: 1;
}

.logo {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  max-height: 200px;
  z-index: 1;
}
.head {
  display: flex;
  justify-content: flex-start;
  top: 0px;
  padding: 0px;
  margin: 0px;
  text-align: center;
  background: #f7f7f7;
  color: white;
  font-size: 30px;
  position: fixed;
  width: 100%;
}
.wrench {
  font-size: 25px;
}
.footer {
  position: absolute;
  width: 100%;
  height: 5%;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  background-color: #000;
  clear: both;
  font-size: 30px;
}

.titleContact {
  color: rgb(253, 249, 249);
  font-size: 30px;
  margin: 0;
  padding-bottom: 25px;
}

.contacts span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 25px;
  padding-left: 1rem;
}

.number {
  color: #fff;
  font-size: 25px;
  padding-top: px;
}

.contacts p {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0rem;
  margin: 0;
}

.icons {
  padding-top: 70px;
  font-size: 40px;
  position: relative;
  color: #fff;
  bottom: 50px;
}
.icons a {
  color: #fff;
}

@media (max-width: 600px) {
  body {
    background-color: #2d9570;
  }
  .head {
    margin-bottom: 40px;
  }
  .manuten {
    margin-top: 90px;
    font-size: 45px;
  }
}
