* {
  text-align: center;
}
.manuten {
  padding-top: 20px;
  font-size: 80px;
  font-weight: 400;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
    1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.textos {
  z-index: 20;
  color: #fff;
}

.site {
  font-weight: 200;
  font-size: 50px;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
    1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.bg {
  background-color: #2d9570;
  height: 100%;
  width: 100%;
  position: absolute;
  /* Add the blur effect */
  z-index: -1;
}

.visite {
  padding-top: 100px;
  z-index: 2;
}

.rebraxLogo {
  width: 100%;
  display: flex;
  padding-top: 13px;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding: 5px;
  margin-left: 5px;
  max-width: 200px;
  max-height: 200px;
  z-index: 1;
}
.head {
  padding: 50px;
  text-align: center;
  background: #f7f7f7;
  color: white;
  font-size: 30px;
  position: absolute;
  width: 100%;
}
.wrench {
  font-size: 25px;
}
.footer {
  position: absolute;
  width: 100%;
  height: 5%;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  background-color: #000;
  clear: both;
  font-size: 30px;
}

.icons {
  padding-top: 0px;
  font-size: 40px;
  position: relative;
  color: #fff;
}
.icons a {
  color: #fff;
}

.footertext {
  padding-top: 10px;
  font-weight: 800;
}
.footer {
  background-color: #000;
  height: 100%;
  position: absolute;
}
