* {
  text-align: center;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: auto;
  background-color: #2d9570;
}

.manuten {
  padding-top: 20px;
  font-size: 80px;
  font-weight: 400;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
    1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.textos {
  z-index: 20;
  color: #fff;
}

.site {
  font-weight: 200;
  font-size: 50px;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
    1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

/*.bg {
  background-color: #2d9570;
  height: 100%;
  width: 100%;
  position: absolute;
  Add the blur effect 
  z-index: -1;
} */


.rebraxLogo {
  width: 100%;
  display: flex;
  padding-top: 13px;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding: 5px;
  margin-left: 5px;
  max-width: 200px;
  max-height: 200px;
  z-index: 1;
}
.head {
  display: flex;
  justify-content: flex-start;
  top: 0px;
  padding: 0px;
  margin: 0px;
  text-align: center;
  background: #f7f7f7;
  color: white;
  font-size: 30px;
  position: fixed;
  width: 100%;
}
.wrench {
  font-size: 25px;
}
.footer {
  position: absolute;
  width: 100%;
  height: 5%;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  background-color: #000;
  clear: both;
  font-size: 30px;
}

.titleContact {
  color: rgb(253, 249, 249);
  font-size: 30px;
}

.contacts span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 25px;
  padding-left: 1rem;
}

.number {
  color: #fff;
  font-size: 25px;
}

.contacts p {
  display: flex;
  align-items: center;
  justify-content: center;
}


.icons {
  padding-top: 0px;
  font-size: 40px;
  position: relative;
  color: #fff;
  bottom: 50px;
}
.icons a {
  color: #fff;
}

.footertext {
  padding-top: 10px;
  font-weight: 800;
}
.footer {
  background-color: #000;
  height: 100%;
  position: absolute;
}

@media (max-width: 600px) {
  body {
    background-color: #2d9570;
  }
  .head{
    margin-bottom: 40px;
  }
  .manuten {
    margin-top:  90px;
    font-size: 50px;
  }
}